/*
Icon

.Icon--sprite-example-infoBlue - sprite-example-infoBlue Icon
.Icon--sprite-example-sprite-star-yellow - sprite-example-sprite-star-yellow Icon
.Icon--sprite-example-textured-bolt - sprite-example-textured-bolt Icon

Styleguide Icon
*/

$sprites: (
    sprite-example-infoBlue: (
        x: 0px,
        y: 0px,
        offset_x: 0px,
        offset_y: 0px,
        width: 21px,
        height: 22px,
        total_width: 44px,
        total_height: 105px,
        image: '../../raster-sprite.png'
    ),
    sprite-example-sprite-star-yellow: (
        x: 0px,
        y: 24px,
        offset_x: 0px,
        offset_y: -24px,
        width: 27px,
        height: 27px,
        total_width: 44px,
        total_height: 105px,
        image: '../../raster-sprite.png'
    ),
    sprite-example-textured-bolt: (
        x: 0px,
        y: 53px,
        offset_x: 0px,
        offset_y: -53px,
        width: 44px,
        height: 52px,
        total_width: 44px,
        total_height: 105px,
        image: '../../raster-sprite.png'
    ),
);

@function sprite($sprite, $attribute) {
    @return map-get(map-get($sprites, $sprite), $attribute);
}

@mixin spriteWidth($sprite) {
    width: sprite($sprite, 'width');
}

@mixin spriteHeight($sprite) {
    height: sprite($sprite, 'height');
}

@mixin spritePosition($sprite) {
    background-position: sprite($sprite, 'offset_x') sprite($sprite, 'offset_y');
}

// Center an Icon inside a container with optional x and y nudging
// @include spriteCenterInContainer(textured-bolt, $benefitsIconSize, $benefitsIconSize, 0, 0);

@mixin spriteCenterInContainer($sprite, $container-width, $container-height, $nudget-x: 0, $nudget-y: 0 ) {
    $icon-center-x:  sprite($sprite, 'offset_x') + round( ( ( $container-width - sprite($sprite, 'width') ) / 2 ) )  + $nudget-x;
    $icon-center-y:  sprite($sprite, 'offset_y') + round( ( ( $container-height - sprite($sprite, 'height') ) / 2) ) + $nudget-y;
    background-position: #{$icon-center-x} #{$icon-center-y};
}

@mixin spriteImage($sprite) {
    background-image: url( sprite($sprite, 'image') );
}

@mixin sprite($sprite) {
    @include spritePosition($sprite);
    @include spriteWidth($sprite);
    @include spriteHeight($sprite);
}

@mixin iconBlock() {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    text-align: left!important; //ensures that text-align doesn't upset text-indent in firefox.
    text-indent: -9999px;
    display: inline-block;
    vertical-align: middle;
}

%IconBackground {
    background-image: url( ../images/compiled/raster-sprite.png ); //make this dynamic
}

.Icon {
    @include iconBlock;
    @extend %IconBackground;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }
}

/*  Genereated Sprite Output
    ========================================================================== */

.Icon--sprite-example-infoBlue {
    @include sprite(sprite-example-infoBlue);
}
.Icon--sprite-example-sprite-star-yellow {
    @include sprite(sprite-example-sprite-star-yellow);
}
.Icon--sprite-example-textured-bolt {
    @include sprite(sprite-example-textured-bolt);
}
